@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "ErrorPage";
}

<div class="lgray-bg breadcrumb-cont">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">404</li>
        </ol>
    </div>
</div>

<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <div class="text-align-center error-404">
                <h1 class="huge">404</h1>
                <hr class="sm">
                <p><strong>Sorry - Page Not Found!</strong></p>
                <p>The page you are looking for was moved, removed, renamed<br>or might never existed. You stumbled upon a broken link :(</p>
            </div>
        </div>
    </div>
</div>

