@model PAWeb.SermonCategoryListViewModel
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "Index";
    var sn = 1;
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Sermon Category List</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Sermon Category List</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->

    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <!-- /.card -->
                <div class="card">

                    <div class="card-body">
                        <table id="DeptTable" class="table table-bordered table-striped">
                            <thead>
                                <tr class="remove">
                                    <th>S/N</th>

                                    <th style="width:20%">Name</th>
                                    <th style="width:20%">Description</th>

                                    <th style="width:10%"></th>
                                    <th style="width:10%"></th>
                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var category in Model.SermonCategories)
                                {
                                    <tr>
                                        <td>@sn</td>

                                        <td style="width: 300px;">@category.SermonName</td>
                                        <td style="width: 200px;">@category.SermonDescription</td>
                                        <td><a href="/Admin/EditSermonCategory/@category.Id" class="linker">Edit</a></td>
                                        <td>
                                            @using (Html.BeginForm("DeleteSermonCategory", "Admin"))
                                            {
                                                @Html.Hidden("Id", category.Id)
                                                <input type="submit" class="btn btn-danger btn-xs" value="Delete" />
                                            }

                                        </td>
                                    </tr>


                                    sn++;
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">


                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
