
.top-links {
  position: relative;
  float: left;
  background-color: #282828;
}
.container {
  margin-right:auto;
  margin-left:auto;
  padding-left:15px;
  padding-right:15px;
}
.top-links ul {
  margin: 0;
  list-style: none;
}

#top-bar {
  position: relative;
  border-bottom: 1px solid #EEE;
  height: 58px;
  line-height: 48px;
  font-size:13px;
}

.top-links ul li {
  float: left;
  position: relative;
  height: 40px;
}

.top-links li > a {
  display: block;
  padding: 0 12px;
  font-size: 12px;
  text-transform: uppercase;
  height: 42px;
 
}

.dark #top-bar, #top-bar.dark {
  background-color: #282828;
  border-bottom-color: rgba(255,255,255,0.1);
}
