<nav class="navbar navbar-default">
  <div class="container">

    <div class="navbar">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/buy">Buy</a>
        </li>
      </ul>



      <nb-card>
        <nb-card-body>

          <nb-user size="large"
                   name="John Doe"
                   title="Engineer"
                   badgeText="99+"
                   badgeStatus="success"
                   badgePosition="bottom right">
          </nb-user>

        </nb-card-body>
      </nb-card>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" dropdown>
          <a (click)="false" class="dropdown-toggle" dropdownToggle>Welcome <!--{{authService.decodedToken?.unique_name | titlecase}}--> <span class="caret"></span></a>
          <ul class="dropdown-menu" *dropdownMenu>
            <li>
              <a [routerLink]="['/member/edit']">
                <i class="fa fa-user"></i>Edit Pro
                file
                la
              </a>
              e
            </li>
            ro
            la
            <li role="separator" class="divider"></li>
            <li><a (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a></li>
          </ul>
        </li>
      </ul>



      <!--<ul class="nav navbar-nav navbar-right">
    <li class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>
    <li class="nav-item"><a routerLink="/register">Register</a></li>


    <li class="nav-item"><a class="btn btn-primary btn-lg" (click)="loginToggle()">lets login</a></li>
    <li class="nav-item"><a routerLink="/register">letsregister</a></li>

  </ul>-->
    </div>
   
  </div>
</nav>

