@model PAWeb.DeptViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
}

<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> Home</a></li>
          
                        <li class="breadcrumb-item active" aria-current="page">About</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### About Us Area Start ##### -->
<div class="about-us-area about-page section-padding-100">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-lg-5">
                <div class="about-content">
                    <h2>Welcome To Rccg Praise Assembly</h2>
                    <p>It’s very important to believe that you’re the one. We aim to take a different approach in reaching out and helping people along the journey. 
                    We stress cultural relevancy and utilize all medias and means to communicate the church message. It’s very important to believe that you’re the one.</p>
                    <div class="opening-hours-location mt-30 d-flex align-items-center">
                        <!-- Opening Hours -->
                        <div class="opening-hours">
                            <h6><i class="fa fa-clock-o"></i> Services</h6>
                            <p>Tuesday at 06:30pm <br />Thursday 6:30pm <br>Sunday at 08:00 </p>
                        </div>
                        <!-- Location -->
                        <div class="location">
                            <h6><i class="fa fa-map-marker"></i> Location</h6>
                            <p>No. 49 Shekoni Omokoku Street, Alfa Bus Stop, Sangotedo, Lagos State</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="about-thumbnail">
                    <img src="~/Content/img/bg-img/26.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### About Us Area End ##### -->
<!-- ##### Call To Action Area Start ##### -->
<section class="call-to-action-area section-padding-100 bg-img bg-overlay" style="background-image: url(../../Content/img/bg-img/6.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="call-to-action-content text-center">
                    <h6>A Place For You</h6>
                    <h2>Find a place to connect and grow through a small group, class, or regular gathering.</h2>
                    <a href="@Url.Action("DepartmentCorner","Department")" class="btn crose-btn btn-2">Become A Member</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Call To Action Area End ##### -->

<!-- ##### Team Members Area Start ##### -->
<div class="team-members-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading">
                    <h2>The Ministers</h2>
                    <p>You can contact any of the following ministers for further information about Praise Assembly and request.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Team Members Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-members text-center mb-100">
                    <div class="team-thumb" style="background-image: url(../../Content/img/bg-img/pastor.jpg);">
                    
                        <div class="team-social-info">
                            <a href="https://www.facebook.com/rccgpraiseajah"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="http://twitter.com/rccgpraiseajah"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="https://www.instagram.com/rccgpraiseajah"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <h6>Pst.Tunde Oyediran</h6>
                    <span>Zonal Pastor</span>
                </div>
            </div>

            <!-- Team Members Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-members text-center mb-100">
                    <div class="team-thumb" style="background-image: url(../../Content/img/bg-img/mummyOyediran.jpg);">
                        @*<img src="~/Content/img/bg-img/mummyOyediran.jpg" alt="">*@
                        <div class="team-social-info">
                            <a href="https://www.facebook.com/rccgpraiseajah"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="http://twitter.com/rccgpraiseajah"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="https://www.instagram.com/rccgpraiseajah"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <h6>Mrs Olufunke Oyediran</h6>
                    <span>Zonal Mummy</span>
                </div>
            </div>

            <!-- Team Members Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-members text-center mb-100">
                    <div class="team-thumb" style="background-image: url(../../Content/img/bg-img/PstDitsu.jpeg);">
                       
                        <div class="team-social-info">
                            <a href="https://www.facebook.com/rccgpraiseajah"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="http://twitter.com/rccgpraiseajah"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="https://www.instagram.com/rccgpraiseajah"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <h6>Pst.Ditsu</h6>
                    <span>Pastor</span>
                </div>
            </div>

            <!-- Team Members Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-members text-center mb-100">
                    <div class="team-thumb" style="background-image: url(../../Content/img/bg-img/BroFemi.jpg);">
                   
                        <div class="team-social-info">
                            <a href="https://www.facebook.com/rccgpraiseajah"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="http://twitter.com/rccgpraiseajah"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="https://www.instagram.com/rccgpraiseajah"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <h6>Bro Femi Olakunle</h6>
                    <span>Minister</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Team Members Area End ##### -->

